@media only screen and (min-width:768px) {

    /* intro *********************************************************/
    #my-pic {
        width: 25%;
        margin-left: 35%;
        margin-top: 30px;
        border-radius: 15px;
        /* box-shadow: 5px 0px 50px #c2c2c2; */
    }


}

 /* intro *********************************************************/
    #my-pic {
        width: 25%;
        margin-left: 35%;
        margin-top: 30px;
        border-radius: 15px;
        /* box-shadow: 5px 0px 50px #c2c2c2; */
    }